/* container-large 1665px + padding */
@media screen and (max-width:1695px) {
    .footer__nav {
        width: auto;
        margin: 0 15px;
    }
    .page-hero_vacancy {
        padding: 50px 0 60px;
    }
    .vacancy {
        margin-top: 0;
        margin-bottom: 0;
        padding: 30px 0;
    }
}
/* container-large 1665px */
@media screen and (max-width: 1665px) {
    .calculator__container {
        width: auto;
        padding: 0 15px;
    }
    .header-nav_welcome {
        margin-top: 0;
        margin-bottom: 0;
    }
}
/* container 1140px */
@media screen and (max-width: 1440px) {
    .calculator-content__item_business .calculator-form__list {
        max-width: 930px;
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 30px 15px;
        gap: 30px 15px;
        margin: 0 auto 60px;
    }
    .calculator-content__item_business .calc-submit__list {
        max-width: 930px;
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 30px 15px;
        gap: 30px 15px;
        margin: 0 auto;
    }
    .calculator-content__item_container .calculator-form__list {
        max-width: 930px;
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 30px 15px;
        gap: 30px 15px;
        margin: 0 auto 60px;
    }
    .calculator-content__item_container .calc-submit__list {
        max-width: 930px;
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 30px 15px;
        gap: 30px 15px;
        margin: 0 auto;
    }
    .calculator-content__item_container .calc-submit__item_info {
        grid-area: auto;
    }
    .welcome-advantages__list {
        justify-content: center;
        flex-wrap: wrap;
    }
    .welcome-page-nav__list .page-nav__icon {
        display: none;
    }
    .welcome-page-nav__list .page-nav__link {
        padding: 40px 60px;
    }
    .welcome-slider {
        height: 750px;
    }
    .welcome-slider .welcome-swiper-nav {
        bottom: 130px;
    }
    .welcome-slider__description {
        font-size: calc(20px + 16 * ((100vw - 375px)/ (1920 - 375)));
        line-height: 1.3;
    }
    .welcome-slider__title {
        font-size: calc(40px + 16 * ((100vw - 375px)/ (1920 - 375)));
        line-height: 1.1;
    }
    .documentation__title {
        font-size: calc(32px + 16 * ((100vw - 375px)/ (1920 - 375)));
        line-height: 1.1;
    }
    .calculator__title {
        font-size: calc(32px + 16 * ((100vw - 375px)/ (1920 - 375)));
        line-height: 1.1;
    }
    .page-hero__title {
        font-size: calc(32px + 16 * ((100vw - 375px)/ (1920 - 375)));
        line-height: 1.2;
    }
    .calculator-content__item_garbage .calculator-form__list {

    }
    .calculator-content__item_garbage .calculator-form__item:nth-child(1) {
        grid-area: 1/1/2/7;
    }
    .calculator-content__item_garbage .calculator-form__item:nth-child(2) {
        grid-area: 1/7/2/11;
    }
    .calculator-content__item_garbage .calculator-form__item:last-child {
        grid-area: 2/1/3/7;
    }
    .inner-advantages .container {
        padding: 0;
    }
    .inner-advantages__item {
        font-size: 20px;
        line-height: 28px;
    }
    .inner-advantages__list {
        justify-content: center;
    }
}
@media screen and (max-width: 1350px) {
    .welcome-tips__item:nth-child(4) .welcome-tips__card {
        justify-content: space-between;
    }
    .welcome-tips {
        grid-auto-rows: auto;
    }
    .containers-grid {
        margin-bottom: 0;
    }
    .containers-grid__item {
        padding: 90px 30px 30px;
    }
    .containers-grid__inner {
        justify-content: center;
    }
    .containers-grid__item_plastic .containers-grid__image {
        left: 50%;
        transform: translateX(-50%);
    }
    .containers-grid__item_metal .containers-grid__image {
        left: 50%;
        transform: translateX(-50%);
    }
    .containers-grid__item_full-metal .containers-grid__image {
        left: 50%;
        transform: translateX(-50%);
    }
    
}
@media screen and (max-width: 1300px) {
    .welcome-tips__item_grey .welcome-tips__content {
        background-color: var(--white-bg);
        padding: 30px 50px 40px;
    }
    .welcome-tips {
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width: 1260px) {
    .header-nav__slogan {
        display: none;
    }
    .header-nav__right {
        justify-content: flex-end;
    }
    .inner-page-nav .page-nav__link {
        font-size: 20px;
        line-height: 28px;
        padding: 25px 15px;
    }
}
/* 1200px */
@media screen and (max-width: 1199.9px) {
    .page-hero_rent-sale {
        padding: 50px 0 285px;
    }
    .welcome-slider {
        height: 650px;
    }
    .welcome-slider__item {
        padding: 150px 0 30px 0;
    }
    .calculator_welcome {
        padding: 50px 0 90px;
    }
    .calculator-nav__link {
        padding: 25px 15px;
    }
    .welcome-advantages {
        padding: 60px 0;
    }
    .welcome-page-nav__list {
        margin-top: -45px !important;
    }
    .welcome-page-nav__list .page-nav__link {
        font-size: 20px;
        line-height: 1.33;
        padding: 20px 40px;
    }
    .calculator-content__item_garbage .calc-submit__list {
        display: flex;
    }
    .calculator-content__item_garbage .calculator-form__item:nth-child(1) {
        grid-area: 1/1/2/8;
    }
    .calculator-content__item_garbage .calculator-form__item:nth-child(2) {
        grid-area: 1/8/2/13;
    }
    .calculator-content__item_garbage .calculator-form__item:last-child {
        grid-area: 2/1/3/7;
    }
    .inner-advantages {
        margin-bottom: 30px;
    }
    .page-hero_remove-garbage {
        padding: 50px 0 150px;
    }
    .inner-advantages__item {
        justify-content: center;
        background-position: left 24% center;
    }
    .gallery {
        padding: 50px 0 90px;
    }
    .page-hero_remove-garbage {

    }
    .vacancy-hero__item {
        margin-bottom: 10px;
    }
    .page-hero_vacancy .vacancy-hero.container-small {
        padding: 0;
    }
    .page-hero__description {
        padding: 0;
    }
    .vacancy-hero__list {
        column-gap: 30px;
    }
    .contacts {
        margin-bottom: 90px;
    }
    .footer__supports {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer__copyright,
    .footer-address {
        margin-right: 30px;
    }
    .developers {
        margin-left: 0;
    }
    
}
@media screen and (max-width: 1080px) {
    .containers-grid__list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        gap: 0;
    }
    .containers-grid__item {
        flex: 0 0 calc(50% - 30px);
        padding: 90px 30px 30px;
        margin-bottom: 30px;
        
        &:nth-child(2n) {
            margin-right: 0;
        }
    }
    .calculator-nav__link {
        font-size: 16px;
        line-height: 1.5;
    }
    .inner-page-nav .page-nav__link {
        font-size: 18px;
        line-height: 26px;
        padding: 20px 15px;
    }
    .contacts__content {
        flex-direction: column;
        
    }
    .contacts__info-card {
        flex: auto;
        padding: 0;
        margin: 0 auto 30px;
    }
    .map {
        position: relative;
        right: auto;
        height: 300px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
@media screen and (max-width: 1050px) {
    .calculator-content__item_garbage .calculator-form__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .calculator-content__item_garbage .calculator-form__item {
        max-width: 570px;
        width: 100%;
    }
    .calculator-content__item_garbage .calc-submit__list {
        max-width: 570px;
        width: 100%;
        margin: 0 auto;
    }
    .footer-nav__list {
        justify-content: space-between;
    }
    .footer-nav__item:not(:last-child) {
        margin-right: 30px;
    }
    .contact {
        justify-content: center;
        margin-right: 30px;
        &__phone {
            font-size: 20px;
            line-height: 25px;
        }
        &__mail {
            font-size: 20px;
            line-height: 25px;
        }
    }
    .header-nav {
        &__logo {
            width: 250px;
            img {
                width: 100%;
                height: auto;
            }
        }
        &__info {
            padding: 0;
        }
        &__callback {
            display: flex;
            align-items: center;
            padding: 0;
        }
        .callback-btn {
            padding: 5px 36px;
        }
    }
}
/* 992px */
@media screen and (max-width: 991.9px) {
    .welcome-slider__item {
        padding: 120px 0 30px 0;
    }
    .welcome-slider {
        height: 550px;
    }
    .calculator-content__title {
        padding-top: 0;
        padding-bottom: 30px;
    }
    .calculator-block__header_welcome {
        min-height: auto;
        padding: 30px 0 15px;
    }
    .calculator-nav__link {
        padding: 20px 15px;
        margin-bottom: 15px;
    }
    .calculator-nav__link--active {
        margin-bottom: 15px;
    }
    .calculator-block__nav {
        margin-top: 30px;
        margin-bottom: 0;
    }
    .calculator-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
        
    }
    .calculator-nav__item {
        padding: 0 15px
    }
    .welcome-tips__content,
    .welcome-tips__item_grey .welcome-tips__content {
        padding: 30px 30px 30px;
    }
    .welcome-tips__item:nth-child(3) .welcome-tips__content {
        padding: 30px 30px 15px;
    }
    .welcome-tips__item:nth-child(4) .welcome-tips__content {
        padding: 30px 30px 20px;
    }
    .welcome-advantages {
        padding: 0 0 30px;
    }
    .welcome-page-nav__list {
        margin-top: 0 !important;
        padding: 30px 0 0;
    }
    .welcome-page-nav__list.page-nav{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0;
    }
    .welcome-page-nav__list .page-nav__item_bricks .page-nav__link-text {
        max-width: 100%;
    }
    .welcome-page-nav__list .page-nav__item {
        margin-bottom: 30px;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    .welcome-slider .welcome-swiper-nav {
        bottom: 90px;
    }    
    .containers-grid__item {
        max-width: 450px;
        flex: 0 0 100%;
    }
    .gallery {
        padding: 50px 0 60px;
    }
    .inner-advantages__wrapper {
        padding: 30px 0 0px;
    }
    .page-hero__title {
        margin-bottom: 30px;
    }
    .vacancy-description__title {
        font-size: calc(22px + 16 * ((100vw - 375px)/ (1920 - 375)));
        line-height: 1.3;
        margin-top: -5px;
    }
    .vacancy__item {
        padding: 30px;
    }
    .breadcrumbs {
        padding: 30px 0;
    }
    .contacts {
        margin-bottom: 60px;
    }
    .footer__bottom {
        padding: 63px 0 35px;
    }
}
@media screen and (max-width:988px) {
    .calculator-content__item_container .radio-container__label_plastic {
        margin-left: 30px;
    }
    .calculator-content__item_container .radio-container__field {
        max-width: 250px;
        margin-bottom: 15px;
    }
    .calculator-content__item_container .radio-container__label_metal {
        margin-left: 30px;
    }
    .calculator-content__item_container .radio-container__label_full-metal {
        margin-left: 30px;
    }
    .calculator-content__item_container .radio-container {
        flex-wrap: wrap;
    }
    .calculator-content__item_container .radio-container__field:not(:last-child) {
        margin-right: 0;
    }
    .calculator-content__item_container .calc-submit__list {
        max-width: 570px;
        width: 100%;
        grid-template-columns: 1fr;
    }
    .calculator-content__item_container .calculator-form__list {
        max-width: 570px;
        width: 100%;
        grid-template-columns: 1fr;
    }
    .calculator-content__item_container .calculator-form__item:last-child {
        grid-area: auto;
    }
    .radio-group_container .radio-group__field:nth-child(2),
    .radio-group_container .radio-group__field:nth-child(1) {
        flex: 0 0 calc(50% - 5px);
    }
    
    .inner-page-nav .page-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
    }
    .inner-page-nav .page-nav__item {
        margin-bottom: 15px;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}
@media screen and (max-width:920px) {
    .page-hero_rent-sale {
        padding: 0 0 300px;
    }
    .page-hero_remove-garbage {
        padding: 0 0 205px;
    }
    .page-hero_vacancy {
        padding: 0 0 50px;
    }
    .page-hero_contacts {
        padding: 0;
    }
    .inner-page-nav {
        padding: 30px 0 15px;
        margin-bottom: 0px;
    }
}
@media screen and (max-width:805px) {
    .contact__text {
        display: none;
    }
}
/* 768px */
@media screen and (max-width:767.9px) {
    .gallery {
        padding: 30px 0px 60px;
    }
    .calculator-content__item_business .calculator-form__list {
        grid-template-columns: 1fr;
    }
    .calculator-content__item_business .calculator-form__item {
        max-width: 450px;
        width: 100%;
        margin: 0 auto;
    }
    .calculator-content__item_business .calc-submit__list {
        max-width: 450px;
        width: 100%;
        margin: 0 auto;
    }
    .calculator-content__item_business .calc-submit__item_submit {
        flex-wrap: wrap;
    }
    .calculator-content__item_business .calc-submit__invoice {
        margin-right: 0;
    }
    .calculator-content__item_business .calc-submit__btn,
    .calculator-content__item_business .calc-submit__invoice {
        flex: 0 0 calc(50% - 15px);
        margin-bottom: 15px;
    }
    .calculator-content__item_business .calc-sum {
        flex: 0 0 100%;
    }
    .calculator-content__item {
        padding: 30px 0;
    }
    .welcome-advantages-tips {
        padding: 30px 0;
    }
    .welcome-advantages-tips {
        padding: 30px 0;
    }
    .welcome-page-nav__list .page-nav__link {
        justify-content: center;
    }
    .welcome-page-nav__list.page-nav {
        flex-direction: column;
    }
    .welcome-page-nav__list .page-nav__item:not(:last-child) {
        margin-right: auto;
    }
    .welcome-page-nav__list .page-nav__item {
        max-width: 400px;
        width: 100%;
        margin: 0 auto 30px;
    }
    .calculator-block__header {
        min-height: auto;
    }
    .calculator {
        padding: 30px 0 30px;
    }
    .calculator_welcome {
        padding-bottom: 60px;
    }
    .documentation {
        padding: 30px 0 30px;
    }
    .page-hero_vacancy .vacancy-hero {
        margin-top: 30px;
    }
    .vacancy-hero__title {
        margin-bottom: 15px;
    }
    .vacancy__item {
        padding: 30px 30px 0;
    }
    .vacancy-card {
        flex-direction: column;
    }
    .vacancy-info {
        flex: auto;
        margin-bottom: 30px;
        order: 2;
    }
    .vacancy-description {
        order: 1;
        padding: 0;
    }
    .vacancy-hero__list {
        columns: 1;
    }
    .footer__bottom {
        padding: 30px 0;
        margin-top: 0;
    }
    .footer-nav__list {
        display: none;
    }
    
    .header-nav {
        padding: 15px 0;
        &__logo {
            display: flex;
            align-items: center;
        }
        .callback-btn {
            padding: 5px 25px;
        }
    }
    .contact {
        margin-right: 20px;
        &__mail {
            font-size: 16px;
            line-height: 21px;
            padding-left: 20px;
            &::before {
                width: 14px;
                height: 10px;
            }
        }
        &__phone {
            font-size: 16px;
            line-height: 21px;
            margin-bottom: 0;
        }
        &__link {
            padding-left: 15px;
            &::before {
                width: 10px;
                height: 10px;
            }
        }
    }
}
@media screen and (max-width:625px) {
    .calculator-content__item_container .calculator-form__item:nth-child(2) .radio-group {
        flex-direction: column;

    }
    .calculator-content__item_container .calculator-form__item:nth-child(2) .radio-group__field {
        margin-bottom: 15px;
    }
    .calculator-content__item_garbage .calculator-form__item:nth-child(1) {
        .radio-group {
            flex-direction: column;
        }
        .radio-group_service .radio-group__field {
            margin-bottom: 15px;
        }
    }
    .footer__bottom {
        padding: 30px 0 25px;
    }
    .footer__supports {
        flex-direction: column;
    }
    .footer-address, .footer__copyright, .developers {
        margin-right: 0;
        margin-bottom: 5px;
    }
}
@media screen and (max-width:590px) {
    .inner-page-nav .page-nav {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
    .inner-page-nav .page-nav__item {
        max-width: 300px;
        width: 100%;
        margin: 0 auto 15px;
        &:not(:last-child) {
            margin-right: auto;
        }
    }
    
}
/* 576px */
@media screen and (max-width:575.9px) {
    .calculator-content__item_container .calc-submit__item_submit {
        flex-direction: column;
        margin: 0 auto;
    }
    .calculator-content__item_container .calc-submit__btn {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .calculator-content__item_container .calc-submit__info {
        text-align: center;
    }
    .calculator-content__item_garbage .calc-submit__item_submit {
        flex-direction: column;
        margin: 0 auto;
    }
    .calculator-content__item_garbage .calc-submit__btn {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .calculator-content__item_garbage .calculator-form__list {
        margin-bottom: 40px;
    }
    .calculator-content__item_business .calculator-form__list {
        margin-bottom: 40px;
    }
    .welcome-tips {
        grid-template-columns: 1fr;
    }
    .welcome-tips__item {
        max-width: 450px;
        width: 100%;
        margin: 0 auto;
    }
    .welcome-page-nav__list .page-nav__link {
        padding: 20px 15px;
    }
    .vacancy__item {
        padding: 30px 15px 0;
    }
    .breadcrumbs {
        padding: 15px 0;
    }
    .burger {
        display: flex;
    }
    .header-nav .callback-btn {
        display: none;
    }
    .contacts__info-card {
        max-width: 390px;
    }
    .contact-card {
        padding: 60px 60px;
    }
}
@media screen and (max-width:500px) {
    .calculator-content__item_container .radio-container__field {
        max-width: 100%;
    }
    .calculator-content__item_container .radio-container {
        flex-direction: column;
    }
    .calculator-content__item_garbage .radio-container {
        flex-direction: column;
    }
    .calculator-content__item_garbage .radio-container__field {
        margin-bottom: 15px;
    }
    .calculator-content__item_garbage .radio-container__field:not(:last-child) {
        margin-right: 0;
    }
    .calculator-content__item_garbage .radio-container__field .radio-container__label_full-metal {
        margin-left: 25px;
    }
}
@media screen and (max-width:520px) {
    .calculator-content__item_business .calc-submit__list {
        justify-content: center;
    }
    .calculator-content__item_business .calc-submit__item_submit {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .calculator-content__item_business .calc-submit__btn,
    .calculator-content__item_business .calc-submit__invoice {
        max-width: 210px;
        width: 100%;
        justify-content: center;
        flex: auto;
        margin-bottom: 15px;
        margin-right: 0;
    }
    .calculator-content__item_business .calc-sum {
        flex: auto;
        text-align: center;
    }
}
@media screen and (max-width:480px) {
    
    .footer__copyright {
        font-size: 13px;
    }
    
}
@media screen and (max-width:400px) {
    .contact-card {
        padding: 30px 30px;
    }
}
@media screen and (max-width:380px) {
    .contact {
        margin-right: 10px;
    }
    .header-nav__logo {
        margin-right: 5px;
    }
}