.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.5);
	z-index: 99;
	opacity: 0;
	visibility: hidden;
}
.overlay.open {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
}
.lock {
	overflow: hidden;
}

.burger {
	cursor: pointer;
    display: none;
	align-items: center;
	svg {
		transition: all .2s ease-in-out;
	}
	&:hover {
		svg {
			fill: var(--accent);
			transition: all .2s ease-in-out;
		}
	}
}

.mobile-menu {
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
    display: none;
	background-color: #fff;
	transition: opacity .3s ease-in-out;
	&.open {
		display: block;
		opacity: 1;
		transition: opacity .3s ease-in-out;
		z-index: 100;
	}
	&__close {
		width: 40px;
		height: 40px;
		margin-top: 10px;
		margin-left: -20px;
	}
}

.mobile-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	padding: 30px;
	&__item {

	}
	&__link {
		font-weight: 700;
		font-size: 18px;
		line-height: 32px;
		text-decoration: none;
		text-transform: uppercase;
		color: var(--main-text);
		&:hover {
			color: var(--main-text);
		}
	}
}
