:root {
  --main-bg: #f2f2f2;
  --main-text: #262626;
  --white-text: #fff;
  --white-bg: #fff;
  --accent: #ff7b36
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: local("Roboto"),url(../fonts/roboto-300.woff2) format("woff2");
  font-display: swap
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"),url(../fonts/roboto-400.woff2) format("woff2");
  font-display: swap
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: local("Roboto"),url(../fonts/roboto-700.woff2) format("woff2");
  font-display: swap
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  src: local("Roboto"),url(../fonts/roboto-900.woff2) format("woff2");
  font-display: swap
}
@media (prefers-reduced-motion:no-preference) {
  :root {
    scroll-behavior: smooth
  }
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}
::-webkit-input-placeholder {
  color: #666
}
::-moz-placeholder {
  color: #666
}
:-ms-input-placeholder {
  color: #666
}
::-ms-input-placeholder {
  color: #666
}
::placeholder {
  color: #666
}
input,
textarea {
  outline: 0
}
input:focus:required:invalid,
textarea:focus:required:invalid {
  border-color: red
}
input:required:valid,
textarea:required:valid {
  border-color: green
}
body {
  font-family: Roboto,sans-serif,Arial,-apple-system,BlinkMacSystemFont;
  font-size: 16px;
  line-height: 1.65;
  background-color: var(--main-bg);
  color: var(--main-text);
  min-width: 320px;
  position: relative;
  overflow-x: hidden
}
.wrapper {
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto
}
.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto
}
.container-large {
  max-width: 1665px;
  width: 100%;
  margin: 0 auto
}
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 99;
  opacity: 0;
  visibility: hidden
}
.overlay.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s
}
.lock {
  overflow: hidden
}
.burger {
  cursor: pointer;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.burger svg {
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}
.burger:hover svg {
  fill: var(--accent);
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}
.mobile-menu {
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  display: none;
  background-color: #fff;
  z-index: 100;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out
}
.mobile-menu.open {
  display: block;
  opacity: 1;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out
}
.header-nav {
  position: relative;
  max-width: 1920px;
  width: 100%;
  background-color: #fff;
  padding: 20px 0 10px;
  margin: 0 auto;
  border-radius: 8px;
  -webkit-box-shadow: -11.314px 11.314px 48px 0 rgba(206,206,206,.32);
  box-shadow: -11.314px 11.314px 48px 0 rgba(206,206,206,.32);
  z-index: 2
}
.header-nav_welcome {
  max-width: 1665px;
  margin-top: 30px;
  margin-bottom: -60px
}
.header-nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.header-nav__logo {
  margin-left: -5px;
  margin-right: 25px
}
.header-nav__right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.header-nav__slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px
}
.header-nav__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0 0
}
.header-nav__callback {
  padding: 5px 0 0
}
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-right: 70px
}
.contact__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 5px
}
.contact__text {
  margin-right: 10px
}
.contact__link {
  position: relative;
  display: block;
  font-weight: 900;
  color: var(--main-text);
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 25px
}
.contact__link::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(/img/dest/icons/phone-icon_dark.png);
  background-repeat: no-repeat;
  background-size: cover
}
.contact__link:hover {
  text-decoration: underline
}
.contact__mail {
  position: relative;
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
  color: var(--accent);
  padding-left: 30px;
  text-decoration: none
}
.contact__mail::before {
  content: '';
  position: absolute;
  left: 0;
  top: 53%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 17px;
  height: 13px;
  background-image: url(/img/dest/icons/main-icon_accent.png);
  background-size: cover;
  background-repeat: no-repeat
}
.contact__mail:hover {
  text-decoration: underline
}
.contact__callback {
  border-radius: 8px
}
.callback-btn {
  position: relative;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 900;
  font-size: 14px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 10px 46px;
  border-radius: 8px;
  background: -o-linear-gradient(49deg,#8cc63e 0,#bae11f 100%);
  background: linear-gradient(41deg,#8cc63e 0,#bae11f 100%);
  -webkit-box-shadow: 0 4px 24px 0 rgba(110,127,139,.48),inset 0 -4px 0 0 rgba(140,198,62,.38);
  box-shadow: 0 4px 24px 0 rgba(110,127,139,.48),inset 0 -4px 0 0 rgba(140,198,62,.38);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 1
}
.callback-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  border-radius: 8px;
  background: -o-linear-gradient(49deg,#bae11f 0,#8cc63e 100%);
  background: linear-gradient(41deg,#bae11f 0,#8cc63e 100%);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: -1
}
.callback-btn:hover {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
.callback-btn:hover::before {
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
.page-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px;
  gap: 30px
}
.page-nav__item {
  background-color: #8cc63e;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
.page-nav__item_garbage-container {
  background-image: url(/img/dest/page-nav/garbage-container-bg.jpg)
}
.page-nav__item_garbage-truck {
  background-image: url(/img/dest/page-nav/garbage-truck-bg.jpg)
}
.page-nav__item_bricks {
  background-image: url(/img/dest/page-nav/bricks-bg.jpg)
}
.page-nav__item:hover {
  background-color: #fafafa;
  background-image: none;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
.page-nav__link {
  max-width: 450px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  line-height: 32px;
  color: var(--main-text);
  padding: 40px 50px;
  border-radius: 8px;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
.page-nav__link:hover {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
.page-nav__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 25px
}
.page-nav__tooltip {
  z-index: 2
}
.page-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px;
  gap: 30px
}
.page-nav__item {
  background-color: #8cc63e;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
.page-nav__item_garbage-container {
  background-image: url(/img/dest/page-nav/garbage-container-bg.jpg)
}
.page-nav__item_garbage-truck {
  background-image: url(/img/dest/page-nav/garbage-truck-bg.jpg)
}
.page-nav__item_bricks {
  background-image: url(/img/dest/page-nav/bricks-bg.jpg)
}
.page-nav__item:hover {
  background-color: #fafafa;
  background-image: none;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
.page-nav__link {
  max-width: 450px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  line-height: 32px;
  color: var(--main-text);
  padding: 40px 50px;
  border-radius: 8px;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
.page-nav__link:hover {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
.page-nav__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 25px
}
.page-nav__tooltip {
  z-index: 2
}
.choices__list--dropdown .choices__item--selectable.is-highlighted:after {
  display: none
}
.choices[data-type*=select-one]:after {
  border: none;
  margin: 0;
  content: '';
  position: absolute;
  right: 11.5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-image: url(/img/dest/calc/select-arrow.png);
  pointer-events: none
}
.choices[data-type*=select-one].is-open:after {
  border: none;
  margin: 0;
  -webkit-transform: rotate(-180deg) translateY(50%);
  -ms-transform: rotate(-180deg) translateY(50%);
  transform: rotate(-180deg) translateY(50%)
}
.choices__inner {
  height: 56px;
  font-style: italic;
  font-size: 14px;
  line-height: 24px;
  background-color: var(--white-bg);
  padding: 15px 20px 15px;
  border: 1px solid #ededed;
  border-radius: 2.5px
}
.choices__list--single {
  padding: 0
}
.welcome-slider {
  height: 850px;
  position: relative
}
.welcome-slider__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  color: var(--white-text);
  background-repeat: no-repeat;
  background-position: center;
  padding: 215px 0 30px 0;
  background-size: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
.welcome-slider__item::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(38,38,38,.7);
  z-index: 2
}
.welcome-slider__title {
  position: relative;
  font-weight: 900;
  font-size: 88px;
  line-height: 88px;
  margin-bottom: 50px;
  z-index: 3;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2
}
.welcome-slider__description {
  position: relative;
  max-width: 930px;
  width: 100%;
  font-weight: 300;
  font-size: 32px;
  line-height: 44px;
  margin: 0 auto;
  z-index: 3;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5
}
.welcome-slider .welcome-swiper-nav {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255,255,255,.08);
  z-index: 2;
  border-radius: 28px
}
.welcome-slider .welcome-swiper-nav .swiper-pagination {
  position: relative;
  bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 10px
}
.welcome-slider .welcome-swiper-nav .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  background: #fff;
  opacity: 1;
  margin: 0;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
.welcome-slider .welcome-swiper-nav .swiper-pagination-bullet:not(:last-child) {
  margin: 0 10px 0 0
}
.welcome-slider .welcome-swiper-nav .swiper-pagination-bullet:hover {
  background-color: rgba(255,255,255,.08);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
.welcome-slider .welcome-swiper-nav .swiper-pagination-bullet-active {
  background-color: rgba(255,255,255,.08);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
.welcome-slider .welcome-swiper-nav .swiper-pagination-bullet-active:hover {
  background-color: rgba(255,255,255,.3);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
.welcome-slider .welcome-swiper-nav .swiper-button-prev {
  background-image: url(/img/dest/swiper/arrow-left.png)
}
.welcome-slider .welcome-swiper-nav .swiper-button-next {
  background-image: url(/img/dest/swiper/arrow-right.png)
}
.welcome-slider .welcome-swiper-nav .swiper-button-next,
.welcome-slider .welcome-swiper-nav .swiper-button-prev {
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 56px;
  flex: 0 0 56px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255,255,255,.16);
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}
.welcome-slider .welcome-swiper-nav .swiper-button-next:hover,
.welcome-slider .welcome-swiper-nav .swiper-button-prev:hover {
  background-color: rgba(255,255,255,.5);
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out
}
.welcome-slider .welcome-swiper-nav .swiper-button-next:after,
.welcome-slider .welcome-swiper-nav .swiper-button-prev:after {
  display: none
}
.welcome-page-nav__list {
  position: relative;
  z-index: 2;
  margin-top: -70px!important
}
.welcome-page-nav__list .page-nav__item_bricks .page-nav__link-text {
  max-width: 180px
}
.welcome-advantages {
  padding: 125px 0 65px
}
.welcome-advantages__container {
  background-color: rgba(255,255,255,.4);
  border: 1px dashed #ededed;
  border-radius: 8px;
  padding: 45px 0 5px
}
.welcome-advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.welcome-advantages__item {
  max-width: 240px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 80px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  padding: 15px 0 15px 40px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: left center
}
.welcome-advantages__item:nth-child(1) {
  background-image: url(/img/dest/icons/advantages-avto-park-icon.png)
}
.welcome-advantages__item:nth-child(2) {
  background-image: url(/img/dest/icons/advantages-license-icon.png);
  padding: 15px 0 15px 50px
}
.welcome-advantages__item:nth-child(3) {
  background-image: url(/img/dest/icons/advantages-certificate-icon.png);
  padding: 15px 0 15px 40px
}
.welcome-advantages__item:nth-child(4) {
  background-image: url(/img/dest/icons/advantages-age-icon.png);
  padding: 15px 0 15px 40px
}
.welcome-advantages__item:nth-child(5) {
  background-image: url(/img/dest/icons/advantages-team-icon.png);
  padding: 15px 0 15px 40px
}
.welcome-advantages__item:not(:last-child) {
  margin-right: 15px
}
.welcome-advantages-tips {
  padding: 65px 0
}
.welcome-tips {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: 250px;
  grid-gap: 30px;
  gap: 30px
}
.welcome-tips__item {
  border-radius: 8px
}
.welcome-tips__item_white {
  background-color: var(--white-bg)
}
.welcome-tips__item_big {
  background-color: #f7f7f7
}
.welcome-tips__item_grey {
  background-color: var(--main-bg)
}
.welcome-tips__item_grey .welcome-tips__content {
  padding: 30px 50px 0
}
.welcome-tips__item_grey .welcome-tips__description {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px
}
.welcome-tips__item:nth-child(3) {
  -ms-grid-row-span: 2;
  grid-row: 2 span
}
.welcome-tips__item:nth-child(3) .welcome-tips__card {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.welcome-tips__item:nth-child(3) .welcome-tips__content {
  padding: 40px 50px 15px
}
.welcome-tips__item:nth-child(4) {
  -ms-grid-row-span: 2;
  grid-row: 2 span
}
.welcome-tips__item:nth-child(4) .welcome-tips__content {
  padding: 40px 50px 20px
}
.welcome-tips__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 100%
}
.welcome-tips__content {
  padding: 30px 50px 40px
}
.welcome-tips__icon {
  margin-bottom: 20px
}
.welcome-tips__description {
  font-size: 18px;
  line-height: 28px
}
.welcome-tips__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px
}
.welcome-tips__image img {
  max-width: 100%;
  width: 100%;
  height: auto
}
.calculator {
  padding: 50px 0 125px
}
.calculator__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 52px;
  margin: 0;
  margin-bottom: 40px;
  text-align: center
}
.calculator_welcome .calculator-form__item:last-child {
  -ms-grid-column-span: 2;
  grid-column: span 2
}
.calculator-block {
  border-radius: 8px
}
.calculator-block__header {
  min-height: 150px;
  background-image: url(/img/dest/calc/calc-header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover
}
.calculator-block__header_weclome {
  padding: 45px 0 30px
}
.calculator-block__header_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.calculator-block__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  text-align: center
}
.calculator-block__nav {
  display: none;
  margin-top: 30px;
  margin-bottom: -75px
}
.calculator-nav {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  display: none;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px;
  gap: 30px
}
.calculator-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px
}
.calculator-nav__link {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 900;
  font-size: 18px;
  line-height: 26px;
  color: var(--main-text);
  background-image: -o-linear-gradient(49deg,#8cc63e 0,#b2da6d 100%);
  background-image: linear-gradient(41deg,#8cc63e 0,#b2da6d 100%);
  -webkit-box-shadow: inset 0 -4px 0 0 rgba(140,198,62,.38);
  box-shadow: inset 0 -4px 0 0 rgba(140,198,62,.38);
  padding: 27px 20px;
  border-radius: 8px;
  text-decoration: none;
  z-index: 1
}
.calculator-nav__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  border-radius: 8px;
  background-image: -o-linear-gradient(49deg,#b2da6d 0,#8cc63e 100%);
  background-image: linear-gradient(41deg,#b2da6d 0,#8cc63e 100%);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: -1
}
.calculator-nav__link:hover::before {
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
.calculator-nav__link--active {
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: var(--white-bg);
  margin-bottom: 15px
}
.calculator-nav__link--active:hover::before {
  opacity: 0;
  background-image: none
}
.calculator-content {
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 24px 48px 0 rgba(219,219,219,.32);
  box-shadow: 0 24px 48px 0 rgba(219,219,219,.32)
}
.calculator-content__item {
  display: none;
  padding: 60px 0
}
.calculator-content__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  padding-top: 90px;
  text-align: center;
  display: none
}
.calculator-content__item--active {
  display: block
}
.calculator-form {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px;
  gap: 30px
}
.calculator-form__title {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 5px;
  text-transform: uppercase
}
.radio-group {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.radio-group_service .radio-group__field {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(50% - 5px);
  flex: 0 0 calc(50% - 5px)
}
.radio-group_container .radio-group__field:nth-child(1) {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(40% - 5px);
  flex: 0 0 calc(40% - 5px)
}
.radio-group_container .radio-group__field:nth-child(2) {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(60% - 5px);
  flex: 0 0 calc(60% - 5px)
}
.radio-group__input-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  opacity: 0;
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 0
}
.radio-group__input-radio:checked + .radio-group__label {
  background-image: url(/img/dest/calc/checkbox-checked.png)
}
.radio-group__label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 900;
  font-size: 16px;
  line-height: 32px;
  border-radius: 3px;
  background-color: var(--white-bg);
  background-image: url(/img/dest/calc/checkbox-empty.png);
  background-repeat: no-repeat;
  background-position: left 25px center;
  padding: 12px 20px 12px 50px
}
.radio-container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.radio-container__field:not(:last-child) {
  margin-right: 35px
}
.radio-container__input-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  opacity: 0;
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 0
}
.radio-container__input-radio:checked + .radio-container__label {
  color: var(--white-text);
  background-color: #8cc63e;
  border: 1px solid #8cc63e
}
.radio-container__label {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 900;
  font-size: 16px;
  line-height: 32px;
  color: #086727;
  background-color: var(--white-bg);
  border-radius: 4px;
  border: 1px dashed #ededed
}
.radio-container__label::before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none
}
.radio-container__label_plastic {
  padding: 11px 20px 11px 45px;
  margin-left: 15px
}
.radio-container__label_plastic::before {
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-48%);
  -ms-transform: translateY(-48%);
  transform: translateY(-48%);
  width: 99px;
  height: 99px;
  background-image: url(/img/dest/calc/container-plastic.png)
}
.radio-container__label_metal {
  padding: 11px 20px 11px 45px
}
.radio-container__label_metal::before {
  left: -50px;
  top: 50%;
  -webkit-transform: translateY(-46%);
  -ms-transform: translateY(-46%);
  transform: translateY(-46%);
  width: 114px;
  height: 86px;
  background-image: url(/img/dest/calc/container-metal.png)
}
.radio-container__label_full-metal {
  padding: 11px 20px 11px 50px
}
.radio-container__label_full-metal::before {
  left: -54px;
  top: 50%;
  -webkit-transform: translateY(-45%);
  -ms-transform: translateY(-45%);
  transform: translateY(-45%);
  width: 123px;
  height: 91px;
  background-image: url(/img/dest/calc/container-metal_big.png)
}
.defaul__input-text {
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  background-color: #fff;
  padding: 15px 20px;
  border: 1px solid #ededed;
  border-radius: 3px
}
.defaul__input-text::-webkit-input-placeholder {
  font-weight: 300;
  font-style: italic;
  color: #8e8e8e
}
.defaul__input-text::-moz-placeholder {
  font-weight: 300;
  font-style: italic;
  color: #8e8e8e
}
.defaul__input-text:-ms-input-placeholder {
  font-weight: 300;
  font-style: italic;
  color: #8e8e8e
}
.defaul__input-text::-ms-input-placeholder {
  font-weight: 300;
  font-style: italic;
  color: #8e8e8e
}
.defaul__input-text::placeholder {
  font-weight: 300;
  font-style: italic;
  color: #8e8e8e
}
@media screen and (max-width:1665px) {
  .header-nav_welcome {
    margin-top: 0;
    margin-bottom: 0
  }
}
@media screen and (max-width:1255px) {
  .header-nav__slogan {
    display: none
  }
  .header-nav__right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
  }
}
@media screen and (max-width:1050px) {
  .contact {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 30px
  }
  .contact__phone {
    font-size: 20px;
    line-height: 25px
  }
  .contact__mail {
    font-size: 20px;
    line-height: 25px
  }
  .header-nav__logo {
    width: 250px
  }
  .header-nav__logo img {
    width: 100%;
    height: auto
  }
  .header-nav__info {
    padding: 0
  }
  .header-nav__callback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0
  }
  .header-nav .callback-btn {
    padding: 5px 36px
  }
}
@media screen and (max-width:805px) {
  .contact__text {
    display: none
  }
}
@media screen and (max-width:767.9px) {
  .header-nav {
    padding: 15px 0
  }
  .header-nav__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
  .header-nav .callback-btn {
    padding: 5px 25px
  }
  .contact {
    margin-right: 20px
  }
  .contact__mail {
    font-size: 16px;
    line-height: 21px;
    padding-left: 20px
  }
  .contact__mail::before {
    width: 14px;
    height: 10px
  }
  .contact__phone {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 0
  }
  .contact__link {
    padding-left: 15px
  }
  .contact__link::before {
    width: 10px;
    height: 10px
  }
}
@media screen and (max-width:575.9px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
  .header-nav .callback-btn {
    display: none
  }
}
@media screen and (max-width:380px) {
  .contact {
    margin-right: 10px
  }
  .header-nav__logo {
    margin-right: 5px
  }
}