.header-nav {
    position: relative;
    max-width: 1920px;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    &_welcome {
        max-width: 1665px;
        margin-top: 30px;
        margin-bottom: -60px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__logo {}
    &__right {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__slogan {}
    &__info {}
    &__contacts {}
}

.contact {
    &__phone {}
    &__text {}
    &__link {}
    &__mail {}
    &__callback {}
}

.callback-btn {

}